@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

@mixin flexiboy($direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

$very-dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$very-light-gray: hsl(0, 0%, 98%);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    //background: url("../images/favicon-32x32.png");
    background-size: cover;
    @include flexiboy(column);
    height: 100vh;
    font-size: 15px;
}

.container {
    width: 1440px;
    height: 992px;
    @include flexiboy(column);
    justify-content: initial;
}
.top-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0rem 3.5rem 0rem;
}

.top {
    @include flexiboy(column);
    max-width: 500px;
    flex-basis: 95%;
    text-align: center;

    h6 {
        font-size: 1.5rem;
        color: $very-dark-blue;
        font-weight: 400;
    }
    h3 {
        font-size: 2rem;
        color: $very-dark-blue;
        font-weight: 600;
    }
    p {
        padding-top: 1rem;
        font-size: 1rem;
        color: $grayish-blue;
    }
}

.bottom {
   @include flexiboy(row);
   align-self:stretch;
   justify-content: space-around;
   flex-wrap: wrap;
}

.middle {
    @include flexiboy(column);
    flex-wrap: wrap;    
}

.card{
    position: relative;
    border-radius: 10px;
    padding:20px 75px 0px 20px;
    min-height: 255px;
    box-shadow: 10px 50px 100px 1px;
    min-width: 350px;
    max-width: 350px;
    flex-basis: 95%;
    margin:30px 20px 0px 0px;
    h3 {
        font-size: 1.2rem;
        color: $very-dark-blue;
        font-weight: 600;
    }
    p {
        padding-top: 1rem;
        font-size: 0.7rem;
        color: $grayish-blue;
    }
    img{
        position: absolute;
        bottom:10%;
        right:10%;
    }
}

.cyan {
    border-top: 5px solid hsl(180, 62%, 55%);
}
.red {
    border-top: 5px solid hsl(0, 78%, 62%);
}
.orange {
    border-top: 5px solid hsl(34, 97%, 64%);
}
.blue {
    border-top: 5px solid hsl(212, 86%, 64%);
}

@media screen and (max-width: 1439px) {
    body {
        height: initial;
        padding:0 10px;
    }
    .container {
        height: initial;
        width: initial;
    }
}


@media screen and (max-width: 761px) {    
    .card{
       
        margin:20px ;
       
    }
    
}
