@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  font-size: 15px;
}

.container {
  width: 1440px;
  height: 992px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
}

.top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 0rem 3.5rem 0rem;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 500px;
  -ms-flex-preferred-size: 95%;
      flex-basis: 95%;
  text-align: center;
}

.top h6 {
  font-size: 1.5rem;
  color: #4c4e61;
  font-weight: 400;
}

.top h3 {
  font-size: 2rem;
  color: #4c4e61;
  font-weight: 600;
}

.top p {
  padding-top: 1rem;
  font-size: 1rem;
  color: #a3a5ae;
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  position: relative;
  border-radius: 10px;
  padding: 20px 75px 0px 20px;
  min-height: 255px;
  -webkit-box-shadow: 10px 50px 100px -55px;
          box-shadow: 10px 50px 100px -55px;
  min-width: 350px;
  max-width: 350px;
  -ms-flex-preferred-size: 95%;
      flex-basis: 95%;
  margin: 30px 20px 0px 0px;
}

.card h3 {
  font-size: 1.2rem;
  color: #4c4e61;
  font-weight: 600;
}

.card p {
  padding-top: 1rem;
  font-size: 0.7rem;
  color: #a3a5ae;
}

.card img {
  position: absolute;
  bottom: 10%;
  right: 10%;
}

.cyan {
  border-top: 5px solid #45d3d3;
}

.red {
  border-top: 5px solid #ea5353;
}

.orange {
  border-top: 5px solid #fcaf4a;
}

.blue {
  border-top: 5px solid #549ef2;
}

@media screen and (max-width: 1439px) {
  body {
    height: initial;
    padding: 0 10px;
  }
  .container {
    height: initial;
    width: initial;
  }
}

@media screen and (max-width: 761px) {
  .card {
    margin: 20px;
  }
}
/*# sourceMappingURL=styles.css.map */